@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #04352e;
  background: #f7f5fa;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

/* utilities */

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  @apply flex flex-col lg:flex-row justify-between items-center py-5;
}

.showCase {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* align-content: center; */
  @apply grid-cols-1 lg:grid-cols-2;
}

.showCase .about {
  @apply flex flex-col justify-center;
  /* height: 500px; */
}

.showCase h1 {
  font-size: 3.125rem;
  color: #04352e;
  @apply italic text-center lg:text-left text-2xl lg:text-5xl;
}

.showCase h1 .bold {
  @apply font-bold;
}

.showCase p {
  font-size: 1.5625rem;
  color: #046255;
  @apply not-italic my-5 lg:my-10 text-center lg:text-left text-lg lg:text-2xl;
}

.showCase p .semiBold {
  @apply font-semibold;
}

.showCase p .dark {
  color: #04352e;
  display: inline;
}

.showCase form {
  height: 100px;
  width: 467px;
  @apply flex items-center justify-center w-full lg:w-fit;
}

.showCase form .input {
  background-color: #ffffff;
  background-color: #ffffff;
  padding: 10px 0;
  @apply rounded-xl;
}

.showCase form .input.file {
  width: 20%;
  padding-left: 15px;
}

.showCase form .input.file::-webkit-file-upload-button {
  visibility: hidden;
}

.showCase form .input.file::before {
  content: 'Upload.me';
  display: inline-block;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.showCase form .input.text {
  @apply outline-hidden border-none;
  outline: none;
}

form button.submit {
  background-color: #1cbfa8;
}

form button.sell {
  @apply p-3 capitalize text-white rounded-lg mx-2 hidden sm:inline-block;
  width: 134px;
  background: #04352e;
}

.feature-card {
  max-width: 1124px;
  margin: auto;
}

.feature-card > h1 {
  font-size: 30px;
  @apply mb-10 font-bold;
}

.feature-card .card-container {
  /* height: 484px; */
  @apply flex items-center justify-between flex-wrap;
}

.feature-card .card-container .assets-item {
  width: 334.88px;
  height: 483px;
  @apply my-3 rounded-2xl m-auto;
}

.feature-card .card-container .assets-item > div.img {
  position: relative;
}

.feature-card .card-container .assets-item .assets-link {
  @apply text-red-400 absolute bottom-5 right-5 capitalize px-8 py-2 rounded-lg;
}

.footer {
  background: #04352e;
  height: 330px;
  @apply mt-16 rounded-xl flex justify-center items-center;
  z-index: 1;
}

.footer .bg {
  background-image: url('./img/footer-image.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 90%;
  z-index: 2;
  color: #ffffff;
  @apply flex justify-center items-center;
}

.footer .bg .content {
  @apply w-3/4 text-center;
}

.footer .bg h1 {
  @apply font-semibold text-2xl;
}

.footer .bg p {
  @apply text-sm text-gray-400 my-5;
}

.footer .form {
  @apply my-2;
  width: 100%;
}

.footer .form .text-input {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  @apply rounded-l-md outline-none w-1/2;
}

.footer .form .btn {
  background-color: #1cbfa8;
  padding: 10px;
  @apply my-3 rounded-r-md;
}
